<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.playradio.host_1gb"
        versionCode = "10" 
        version     = "1" >

    <!-- versionCode is optional and Android only -->

    <name>ฟังวิทยุออนไลน์</name>

    <description>
        ฟังเพลงวิทยุออนไลน์หลากหลายสถานี ทั้งสถานีออนไลน์ และสถานี FM ได้ในแอพเดียว
    </description>
	
	<preference name="permissions" value="none"/>

    <!-- to enable individual permissions use the following examples -->
    <feature name="NetworkStatus">
        <param name="android-package" value="org.apache.cordova.NetworkManager"/>
    </feature>

    <plugins>
        <plugin name="WebIntent" value="com.borismus.webintent.WebIntent" />
    </plugins>

</widget>